# Thrinethra - Vercel Environment Variables (Optional)
# If not set, default embedded connection string & endpoint will be used.

NEON_CONNECTION_STRING="postgresql://neondb_owner:npg_kCrMU0l9LViJ@ep-rapid-sunset-a54uayxa-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEON_ENDPOINT="https://ep-rapid-sunset-a54uayxa.us-east-2.aws.neon.tech/sql"
