# Thrinethra - Environment Variables Template
# Copy this file to .env for local development or add to Vercel Project Settings -> Environment Variables
# DO NOT COMMIT REAL PASSWORDS TO GITHUB

NEON_CONNECTION_STRING="postgresql://neondb_owner:your_neon_password_here@ep-rapid-sunset-a54uayxa-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEON_ENDPOINT="https://ep-rapid-sunset-a54uayxa.us-east-2.aws.neon.tech/sql"
